.Cotizar{
    width: 174px;
    height: 45px;
    background: #154A02;
    align-items: center;
    font-family: 'Inter';
    font-family: normal;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    border-width: 1px;
    margin-left: 10px;
    margin-top: 30px;
}